.container#profile_validation
  = form_for(@user_status, url: user_status_users_path, html:{class: "form-horizontal", id:"form-margin", id:"profile-send-form"}) do |f|
    .row
      .col-sm-2.profile_text お名前(全角)
      .col-sm-5.form-inline{style: "padding: 3px; margin-left: 15px;"}
        = f.text_field :name, class: "form-control input-sm", id: "name", placeholder: '名前を入力'
    .row
      .col-sm-2.profile_text 年齢（半角）
      .col-sm-5form-inline{:style => "padding: 3px; margin-left: 15px;"}
        = f.text_field :age, class: "form-control input-sm", id: "name", placeholder: '年齢を入力'
    .row
      .col-sm-2.profile_text 性別
      .col-sm-5.form-inline{:style => "padding: 3px; margin-left: 15px;"}
        = f.select :gender, ["男", "女"], placeholder: '性別を入力'
    .row
      .col-sm-2.profile_text 体重(kg)(任意)
      .col-sm-5.form-inline{:style => "padding: 3px; margin-left: 15px;"}
        = f.text_field :weight, class: "form-control input-sm", id: "name", placeholder: '体重を入力'
    .text-left{style: "padding: 30px 0 30px 0;"}
      = f.submit "プロフィール登録", class: "btn btn-success", id: "profile-edit-btn"
