= render "layouts/header"
.main_container
  %span{style: "text-decoration: underline; color: blue; font-weight: bold;"} 
    = "ラインボットの使い方"
  %br  
  &nbsp;
  = " 1. ユーザー新規登録をする。"
  %br  
  &nbsp;&nbsp;
  = "→ 新規登録画面より、ユーザー新規登録を行ってください。"
  %br  
  &nbsp;&nbsp;&nbsp;
  = "※line_idを入力する必要があります。line_idは「id」というメッセージを送信すると、取得することができます。"
  %br  
  &nbsp;
  = " 2. 新規登録完了後、ラインのメッセージ機能で食事管理をすることができます。"  
  %br  
  %br  
  %span{style: "text-decoration: underline; color: blue; font-weight: bold;"} 
    = "食事管理機能について"
  %br  
  &nbsp;
  = "1. ラインで食品名をひらがなで入力すると、その食品のカロリーと本日食べた食品の合計カロリ(kcal)が返信されます。"
  %br  
  &nbsp;&nbsp;&nbsp;
  = "※ひらがな以外で入力した場合、入力エラーになります。"
  %br
  &nbsp;&nbsp;&nbsp;
  = "※入力できる食品は、「カロリー早見表」に記載がある食品のみです。"
  %br  
  &nbsp;
  = "2. ひらがなで入力した食品は、本日食べた食品として登録されます。"
  %br  
  &nbsp;
  = "3. 「マイページ」では、入力した（食べた）食品を確認することができます。"
  %br
  &nbsp;
  = "4. 「食品の登録」ページでは、「カロリー早見表」に新しく食品を登録できます。"
  %br
  &nbsp;
  = "5. ラインには、他に以下のコマンドを入力することができます。"
  %br
  %br
  %span{style: "text-decoration: underline; color: blue; font-weight: bold;"} 
    コマンド一覧
  %table.table
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} コマンド
        %th{:scope => "col"} 結果
    %tbody
      %tr
        %th{:scope => "row"} 1
        %td 食品名(ひらがな)
        %td その食品のカロリーと本日摂取した合計カロリーを表示
      %tr
        %th{:scope => "row"} 2
        %td きょう
        %td 今日食べたものを表示
      %tr
        %th{:scope => "row"} 3
        %td きのう
        %td 昨日食べたものを表示
      %tr
        %th{:scope => "row"} 4
        %td こんしゅう
        %td 今週食べたものを表示
      %tr
        %th{:scope => "row"} 5
        %td みす
        %td 入力した最新の食べ物を消去
      %tr
        %th{:scope => "row"} 6
        %td へるぷ
        %td コマンド一覧を表示

