= render "layouts/header"
.main_container
  = "ラインボットの使い方"
  %br  
  &nbsp;
  = " 1. ユーザー新規登録をする。"
  %br  
  &nbsp;&nbsp;
  = "→ 新規登録画面より、ユーザー新規登録を行ってください。"
  %br  
  &nbsp;&nbsp;&nbsp;
  = "※line_idを入力する必要があります。line_idは「id」というメッセージを送信すると、取得することができます。"
  %br  
  &nbsp;
  = " 2. 新規登録完了後、ラインのメッセージ機能で食事管理をすることができます。"  
  %br  
  %br  
  = "食事管理機能について"
  %br  
  &nbsp;
  = "1. ラインで食品名をひらがなで入力すると、その食品のカロリーが返信されます。"
  = "2. ひらがなで入力した食品は、その食品のカロリーが返信されます。"

  %br

  &nbsp;&nbsp;

  使い方

