= render "layouts/header"
.main_container
  %h1.text-center.p-3.mb-2.bg-primary.text-white
    カロリー消費量
  .d-flex.flex-column.bd-highlight.mb-3
    .p-2.bd-highlight.alert.alert-primary
      %h4
        =@user.name
        さんのデータ
      %ul.list-unstyled
        %li<>
        本日の摂取カロリー : 
        %span{style: "text-decoration: underline;"} 
          = @total_calorie
          kcal
        %li<> 
        1日の推定消費カロリー   : 
        %span{style: "text-decoration: underline;"} 
          = @user.est_energy_req
          kcal
        %br
        - if (@user.est_energy_req - @total_calorie >= 0)
          %li<>
          本日はあと
          %span{style: "text-decoration: underline; color: yellow; font-weight: bold;"}
            = @user.est_energy_req - @total_calorie
          kcalまでにおさえましょう。
        - else
          %li<>
          %span{style: "text-decoration: underline; color: red; font-weight: bold;"} 
            = @total_calorie - @user.est_energy_req
          %span{style: "font-weight: bold;"}
            kcal超過しています。本日はもう食べないほうがいいです。
    .p-2.bd-highlight.alert.alert-info
      - unless @user.metabolism_id == 1
        %h4.card-title 
          = @metabolism_under.age_base
          から 
          = @metabolism_top.age_base
          才までの平均データ
      - else
        %h4.card-title 
          = @metabolism_top.age_base
          才以下の平均データ
      %ul.list-unstyled
        %li 
          平均体重          : 
          = @metabolism_top.base_weight
          kg
        %li 
          推定消費カロリー    : 
          = @user.est_energy_req
          kcal
        %li
          基礎代謝          : 
          = @metabolism_top.base_metabolic_rate
          kcal
        %br
        %li 推定消費カロリーは基礎代謝×1.75(一般的な活動レベルの指標)で計算しています。
  %h1.text-center.p-3.mb-2.bg-primary.text-white
    食事データ
  .d-flex.flex-column.bd-highlight.mb-3
    .p-2.bd-highlight.mb-2.alert.alert-primary
      %h4 
        本日
      = render partial:'layouts/food-eat-data', locals: { user_eat_data: @user_eat_data_today }          
    %button.alert-info.text-left{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample1", "data-toggle" => "collapse", :type => "button"}
      昨日の食事(クリック)
    #collapseExample1.collapse
      .border.p-3.p-2.bd-highlight.mb-2
        %h4 
          昨日
        = render partial:'layouts/food-eat-data', locals: { user_eat_data: @user_eat_data_yesterday }          
    %button.alert-info.text-left.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample2", "data-toggle" => "collapse", :type => "button"}
      先週の食事(クリック)
    #collapseExample2.collapse
      .border.p-3.p-2.bd-highlight.mb-2
        %h4 
          先週
          = Date.today.all_week
        = render partial: 'layouts/food-eat-data', locals: { user_eat_data: @user_eat_data_this_week }          
    %button.alert-info.text-left.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample3", "data-toggle" => "collapse", :type => "button"}
      今月の食事(クリック)
    #collapseExample3.collapse
      .border.p-3.p-2.bd-highlight.mb-2
        %h4 
          今月
          = Date.today.all_month
        = render partial: 'layouts/food-eat-data', locals: { user_eat_data: @user_eat_data_this_month }          
    %button.alert-info.text-left.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample4", "data-toggle" => "collapse", :type => "button"}
      過去全ての食事(クリック)
    #collapseExample4.collapse
      .border.p-3.p-2.bd-highlight.mb-2
        %h4 
          過去データ
          -unless @user_eat_data.blank?
            = @user_eat_data[0].created_at.year
            年
            = @user_eat_data[0].created_at.month
            月
            から
            = @user_eat_data.last().created_at.year
            年
            = @user_eat_data.last().created_at.month
            月
            まで
          = render partial: 'layouts/food-eat-data', locals: { user_eat_data: @user_eat_data }          
