%h2 ログインする
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label "メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "メールアドレス"
  .field
    = f.label "パスワード"
    %br/
    = f.password_field :password, autocomplete: "パスワード入力"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label "チェックしてください。"
  .actions
    = f.submit "ログイン"
= render "devise/shared/links"
