%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "#"}
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li.nav-item
          = link_to "トップページ", root_path, class: "nav-link"
          %span.sr-only (current)
        %li.nav-item
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
        %li.nav-item
          = link_to "プロフィール編集", edit_user_path(current_user.id), method: :delete, class: "nav-link"
        %li.nav-item
          = link_to "週間カロリーグラフ", graff_user_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "マイページ", user_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "カロリー早見表", foods_path, class: "nav-link"

        -# %li.nav-item
        -#   = link_to "マイページ", user_path(current_user.id), method: :delete, class: "nav-link"
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
      - else
        %li.nav-item
          = link_to "新規会員登録", new_user_registration_path, class: "nav-link"
        %li.nav-item
          = link_to "ログイン", new_user_session_path, class: "nav-link"

    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

